<body>

	<div class="navbar"> 
	<div class="colorbar">
	</div>
		<div id="navlogo">
		</div>
		<div id="navcontent">
			<h3>Fifteen Seas</h3>
			<p>PROJECTS</p>
			<p>BLOG</p>
			<p>ABOUT</p>

			<div class="contentblurb">
		Site Under Construction
		<br>
		Please contact us at <br>
		hello (at) fifteenseas.com
		</div>
		</div>
	</div>
	<div class="contentarea">

	</div>
</body>